<div id="main-container">
<table class="table">
    <thead>
    <tr>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Submarca</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Fecha de Registro</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let auto of autos">
      <th scope="row">{{ auto.marca }}</th>
      <td>
        {{ auto.modelos }}
      </td>
      <td>{{ auto.submarca }}</td>
      <td>{{ auto.descripcion }}</td>
      <td>{{ auto.fecha_registro }}</td>
    </tr>
    </tbody>
  </table>
</div>