.table{
    text-align: center;
    width: 100%;   
    border-collapse: collapse;
    background-color: white;
}

th, td{
    border: solid 1px black;
    padding: 0;
}
#main-container{
    margin: 30px auto;
    width: 1400px;
    
}

thead{
    background-color: black;
    color: white;
    border-bottom: solid 2px black;
    font-size: 1.3em;
}
tr:nth-child(even){
    background-color: grey;
}
tr:hover{
    background-color: #6A6A6A;
    color: white;
}
.pagination-tabla{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.icon{
    padding-left: 1px;
}
.icon:hover{
    cursor: pointer;
}
#contenedor-agregar{
    margin: 10px auto;
    margin-left: 370px;
}
.btn:hover{
    color: white;
    background-color: darkslategray;
    cursor: pointer;
}
.btn{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}