.vistas{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
}
.lista{
    text-align: center;
    width: 100vh;
    height: 50px;
    color: black;
}
.tabla{
    text-align: center;
    width: 100vh;
    height: 50px;
    color: black;
}
.list:default{
    color: black;
}
.lista:hover{
    background-color: black;
    color: white;
}
.tabla:hover{
    background-color: black;
    color: white;
}
.activo{
    background-color:#000000;
    color:white;
}